body {
  background-color: rgba(150, 30, 10, 0.1);
  font-family: 'Montserrat', sans-serif;
  padding: 60px 100px 50px 100px;
  width: 80vmax;
  margin: auto;
}
h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 60px;
  color: rgb(150, 30, 100);
}
h2 {
  font-size: 30px;
  color: rgb(150, 30, 100);
}
p {
  font-size: 20px;
}
a {
  color: #000000; 
}
.box1 {
  display: flex;
  align-items: center;
}
.box2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(100, 30, 75, 1);
  color: #FFFFFF;
}
#navbar2 {
  position: fixed;
  top: 30px;
  left: 0px;
  width: 100%;
  background-color: rgba(100, 30, 75, 0.5);
}
#navbar3 {
  position: static;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(100, 30, 75, 0.5);
}
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
 
#background2 {
  background-color: #FFFFFF;
  padding: 20px 100px 20px 100px;
  border: solid;
  box-shadow: 10px 10px 8px #888888;
}
img {
  max-height: 500px;
  width: auto;
  border: solid;
  border-color: rgba(150, 30, 10, 0.1);
  border-width: 15px;
}
#left {
  float: left;
  height: 70%;
  width: 40%;
  text-align: center;
}
#right {
  float: right;
  height: auto;
  width: 40%;
  text-align: justify;
}
aside, div {
  padding: 2px;
}
@media (max-width: 1000px) {
  body {
  width: 100%; 
  height: auto;
  }
}